$white: #ffffff;

.App {
  position: relative;
}

body {
  background: url("./Assets/bg-lightpink.svg") repeat-y;
  overflow-x: hidden;
}

.background {
  background: url("./Assets/bg-pattern-blue_3.svg") repeat-y;
  bottom: -1200px;
  left: 0;
  height: 0;
  width: 100vw;
  position: absolute;
  z-index: 0;
}