$white: #ffffff;

.App {
  position: relative;
}

.background {
  background-color: darken(#edf2ff, 90%);
  bottom: -1200px;
  left: 0;
  height: 0;
  width: 100vw;
  position: absolute;
  z-index: 0;
}